body {
    font-family: Arial, sans-serif;
    background: url(header-bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    padding: 20px;
    border-radius: 8px;
   /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #565953;
    color: black;
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background: #0b21c5;
}


#confirmationMessage {
    margin-top: 20px;
    font-weight: bold;
    color: rgb(15, 51, 158);
}